# Global excludes across all subdirectories
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.dylib
*.a
*.mo
*.pot
*.gcno
*.gcda
*.gcov
*.gcov.out
*.la
*.lo
lcov.info
Makefile
*.Po
*.Plo
*.in
*.rnd

# Local excludes in root directory
autom4te.cache/
Makefile
.libs/
.deps/
utils/quidsum
